*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  > main {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    > .app_box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 150px;
      border-radius:4px;
      background-color: #EEE;
      border: 1px solid red;
      transition: .4s;
      > .title {
        text-transform: capitalize;
        margin-top: 8px;
        color: red;
      }
      & .dataInput {
        margin-top: 30px;
        width: 90%;
        height: 30px;
        border: 1px solid red;
        border-radius: 3px;
        padding: 1px 6px;
        font-size: 18px;
      }
      & .generation {
        margin-top: 5px;
        width: 90%;
        height: 30px;
        border: 1px solid red;
        font-size: 18px;
        cursor: pointer;
        color: red;
        background-color: #fff;
      }
    }
  }
}